<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Semantic Web Forms</title>
    {% include "main/template_css.html" %}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body id="page-top" class="index">
{% include "main/navbar.html" %}
    <section id="form">
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                  <a href='../addStudents'><strong><font size='8'>Add Students</font></strong></a>
                  <br>
                  <a href='../addAdmin'><strong><font size='8'>Add Admin</font></strong></a>
                  <br>
                  <a href='../addProfessor'><strong><font size='8'>Add Professor</font></strong></a>
                  <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                </div>
            </div>
        </div>
    </section>


    <script src="/static/main/js/jquery.min.js"></script>
    <script src="/static/main/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/main/js/jqBootstrapValidation.js' %}"></script>
    <script src="/static/main/js/contact_me.js"></script>
    <script src="/static/main/js/freelancer.min.js"></script>

</body>

</html>
