{% extends "main/basic.html" %}
{% block css %}
    {% include "main/template_css.html" %}
{% endblock %}
{% block content %}
    <section class="success" id="about">
      <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Critique is an easy to use feedback and analysis system. It is based a mobile and cloud based application that collects feeedback data for various activities.</p>
                </div>
                <div class="col-lg-4">
                    <p>Critique is a next generation feedback system that provides visual representation of feedback. It also taps into the power of Machine Learning to understand the feedback and give an overview of it.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/login" class="btn btn-lg btn-outline">
                        <i class="fa fa-code"></i> Get Started
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
{% include "main/template_scripts.html" %}
{% endblock %}
