<!DOCTYPE html>
<html lang="en">

<head>
{% include 'main/pre_include.html' %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                {{form.as_p}}
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" value="Submit File" class="btn btn-success btn-lg"> Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% include 'main/post_include.html' %}
</html>
