{% load static %}
<!-- jQuery -->
<script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'main/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'main/vendor/metisMenu/metisMenu.min.js' %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static 'main/vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'main/vendor/morrisjs/morris.min.js' %}"></script>
<!-- <script src="{% static 'main/data/morris-data.js' %}"></script> -->

<!-- Custom Theme JavaScript -->
<script src="{% static 'main/js/sb-admin-2.js' %}"></script>
<script src="{% static 'main/js/d3.v3.min.js' %}"></script>
<script src="{% static 'main/js/d3.layout.cloud.js' %}"></script>
