{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Critique - FeedBack</title>

<!-- Bootstrap Core CSS -->
<link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="{% static 'main/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'main/dist/css/sb-admin-2.css' %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static 'main/vendor/morrisjs/morris.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'main/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<style>
    .wordle {
        font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    }
    .legend {
        border: 1px solid #555555;
        border-radius: 5px 5px 5px 5px;
        font-size: 0.8em;
        margin: 10px;
        padding: 8px;
    }
    .bld {
        font-weight: bold;
    }
</style>
