{% extends "main/basic.html" %}

{% block init_script %}
  {% include 'main/pre_include.html' %}
{% endblock %}

{% block navbar %}
  {% include 'main/navbar.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'main/sidebar.html' %}
{% endblock %}

{% block content %}
    {% if no_data %}
    <div class="row">
        <div class="col-lg-12">
            <h1><span class="label label-danger">No feedback yet.</span></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% else %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Analysis</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Student self review
                </div>
                <div class="panel-body">
                    <div id="area-chart"></div>
                </div>
            </div>
            <!-- /.panel -->


            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Instructor review
                </div>
                <div class="panel-body">
                    <div id="area-chart-instruct"></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> TA and tutorial review
                </div>
                <div class="panel-body">
                    <div id="area-chart-ta"></div>
                </div>
            </div>

            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Course Satisfaction
                </div>
                <div class="panel-body">
                    <div id="pie-chart"></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Instructor response
                </div>
                <div class="panel-body">
                    <div id="pie-chart-instruct"></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Overall course review
                </div>
                <div class="panel-body">
                    <div id="bar-chart-ta"></div>
                </div>
            </div>

            <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    {% endif %}

    <br>

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Overall Important Topics of Major Concern
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

        {% if length_word_list > 5 %}
            <span class="wordle" id="wordle1" style="width: auto; display: block;"></span>
        {% else %}
            <span class="wordle"> Sorry. Enough text data is not available </span>
        {% endif %}
    </div>
</div>
    <!-- /.row -->

{% endblock %}

{% block post_script %}
  {% include 'main/post_include.html' %}
  <script>
     var frequency_list = {{word_list|safe}};
     //console.log(frequency_list);
     var color = d3.scale.linear()
             .domain([0,10,20,30,40,50,60,70,80,90,100])
             .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);
     d3.layout.cloud().size([800, 300])
             .words(frequency_list)
             .rotate(0)
             .fontSize(function(d) { return d.size; })
             .on("end", draw)
             .start();
     function draw(words) {
         console.log(d3.select("span.wordle"))
         d3.select("span.wordle").append("svg")
                 .attr("width", 850)
                 .attr("height", 350)
                 .attr("class", "wordcloud")
                 .append("g")
                 // without the transform, words words would get cutoff to the left and top, they would
                 // appear outside of the SVG area
                 .attr("transform", "translate(320,200)")
                 .selectAll("text")
                 .data(words)
                 .enter().append("text")
                 .style("font-size", function(d) { return d.size + "px"; })
                 .style("fill", function(d, i) { return color(i); })
                 .attr("transform", function(d) {
                     return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                 })
                 .text(function(d) { return d.text; });
     }
 </script>
  <script>
  $(function() {

      Morris.Area({
          element: 'area-chart',
          data: {{area_chart | safe}},
          xkey: 'period',
          ykeys: ['effort', "know"],
          labels: ['Effort by student', "Knowledge gained"],
          pointSize: 2,
          hideHover: 'auto',
          resize: true
      });
      Morris.Bar({
          element: 'bar-chart-ta',
          data: {{bar_chart_course | safe}} ,
          xkey: 'y',
          ykeys: ['yes', 'no'],
          labels: ['Yes', 'No'],
          hideHover: 'auto',
          resize: true
      });
      Morris.Donut({
          element: 'pie-chart',
          data: {{ pie_chart | safe}},
          resize: true
      });
      Morris.Donut({
          element: 'pie-chart-instruct',
          data: {{ pie_chart_instruct | safe}},
          resize: true
      });
      Morris.Area({
          element: 'area-chart-ta',
          data: {{area_chart_ta | safe}},
          xkey: 'period',
          ykeys: ['time', "effective", "sufficient"],
          labels: ['Efficient use of time', "Effective", "Sufficient exercises"],
          pointSize: 2,
          hideHover: 'auto',
          resize: true
      });
      Morris.Area({
          element: 'area-chart-instruct',
          data: {{area_chart_instruct | safe}},
          xkey: 'period',
          ykeys: ['know', "enthusiasm"],
          labels: ['Knowledge', "Enthusiasm"],
          pointSize: 2,
          hideHover: 'auto',
          resize: true
      });
  });
  </script>
{% endblock %}
