<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <h2 class="text-center"><b>Course feedback form</b></h2>
    <br>
    <!--select class="form-control form-control-lg class="col-sm-12"">
        <option selected="selected">Course</option>
</select-->
<!--div class="col-sm-12">
	<div class="form-group">
    	<input type="text" value="" placeholder="Name of the tutor" class="form-control" />
	</div>
</div-->
<p>How would you rate the course on the whole ?</p>
<select class="form-control form-control-lg class="col-sm-12"" id = "1">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>

<h3>Feedback about the Overall course :</h3>
<p>Level of effort you put into the course:"</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "2">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>
<p>You level of knowledge at the start of the course:"</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "3_1">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>
<p>You level of knowledge at the end of the course:"</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "3_2">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>
<p>Would you recommend this course to your friends ? <p>
<select class="form-control form-control-lg" class="col-sm-12" id = "4">
    <option value="yes">YES</option>
    <option value="no">NO</option>
</select>
<p>Were the course contents interesting and challenging ?</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "5">
    <option value="yes">YES</option>
    <option value="no">NO</option>
</select>
<p>Would you like to learn more about the concepts presented in the course ?</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "6">
  <option value="yes">YES</option>
  <option value="no">NO</option>
</select>
<h3>Feedback about the tutor :</h3>
<p>The instructor’s knowledgeability on the subject.</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "7">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>

<p>The instructor demonstrated enthusiasm in teaching the topics.</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "8">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>
<p>Did the instructor respond to the questions properly ?</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "9">
  <option value="yes">YES</option>
  <option value="no">NO</option>
</select>
<h3>Feedback about the teaching assistants and the tutorials :</h3>
<p>How efficiently was the tutorial time used?</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "10">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>

<p>How effective were TA’s in helping you learn?</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "11">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>
<p>Were the number of lab exercises sufficient?</p>
<select class="form-control form-control-lg" class="col-sm-12" id = "12">
    <option value="4">Great</option>
    <option value="3">Good</option>
    <option value="2">Average</option>
    <option value="1">Bad</option>
</select>
<h3>Anything else you care to share or get off your chest?</h3>
<textarea class="form-control" placeholder="Anything else you care to share or get off your chest?" rows="5" id = "13"></textarea>

<button type="button" name="button" ng-click="submit()">submit</button>
  </ion-content>
</ion-view>
