<ion-view title="LogIn">
        <ion-content>
<img class="img-responsive center-block" ng-src="img/c.png">
            <div class="col-sm-12">
                   <div class="form-group">
                          <input type="text" value="" placeholder="Username" class="form-control" id = "uname" />
                     </div>
            </div>
            <div class="col-sm-12">
                   <div class="form-group">
                          <input type="password" value="" placeholder="Password" class="form-control" id = "pass" />
                     </div>
            </div>


          <div class="padding">
                          <button nav-clear class="button button-block button-positive" ng-click="login()">
              LogIn
            </button>




          </div>
        </ion-content>
      </ion-view>
